.head{
 
  
  
    border:solid;
    font-family: URW Chancery L, cursive;
    
     }
  
     .note{
       background-color: white;
       font-family: Comic Sans, Comic Sans MS, cursive;
       border: url(https://images.unsplash.com/photo-1432847712612-926caafaa802?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHw%3D&w=1000&q=80);
     }

.menu{
  display: flex;
     justify-content: space-between;
     padding: 15px;
     font-size: 20px;
     font-family: sans-serif;
     font-weight: 400;
     color: #fdd700;
}

.img{
  border:inherit;
}

a:link{
  transform: scale(1.2);
  color: rgb(255, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


a:visited{
  color: rgb(123, 255, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

  
  .grid {
    background: darkred;
    background-color: #f0f8ff4d; /*back for content transparent*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }
  
  .camel {
    border-radius: 30px ;
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
   
  }
  
  
  .chameleon {
    border-radius: 30px ;
    
    border-radius: 30px ;
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .cicada {
    border-radius: 30px ;
    border-radius: 30px ;

    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .panda {
    border-radius: 30px ;
    border-radius: 30px ;
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .pigeon {
    border-radius: 30px ;
    border-radius: 30px ;
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .teddy {
    border-image-outset: 0in;
    border-radius: 30px ;
    border-radius: 30px ;
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }

  .youtube{
     border-radius: 30px ;
     background: #43C6AC;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }

  .instagram{
    border-radius: 30px ;
    background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;  
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
    
  }



  .origami:hover{
    transform:  scale(1.3);
    position:relative;
    transition:all 500ms ease-in-out;
    

    color: #8E2DE2;  
    color: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
    color: linear-gradient(to right, #4A00E0, #8E2DE2); 
    


    
    
  }

 
  
  a:link{
    transform: scale(1.2);
    color: rgb(255, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  
  a:visited{
    color: rgb(255, 123, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  

  .text-center{
    text-align: center;
    margin-top: 20%;
  }
  .hover-border{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-decoration: none;
    position:relative;
  }

  .hover-border::after{
    content:'';
    width:0%;
    height:5px;
    background: #EECDA3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


     position:absolute;
     bottom:100%; left:25%;
     border-radius: 10px;
     transition: all 500ms ease;


  }
  .hover-border:hover::after{
    left:0%;
    width: 100%;

  }